html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 50px;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.parent {
  width: 240px;
  padding: 20px;
  background-color: #2a2a2a;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #2196f3;
  animation: grow 2s linear 0s infinite forwards;
}

.box.is-paused {
  animation-play-state: paused;
}

/* ANIMATIONS */

@keyframes grow {
  0% {
    width: 200px;
  }

  50% {
    width: 300px;
  }

  100% {
    width: 600px;
  }
}
